body {
  width:300px;
}

.borderless {
  padding: 0px;
  margin: 0px;
}
/*
hr-borderless {
  border: 0;
  border-top: 1px solid #eeeeee;
}
*/
#connect {
  margin-bottom: 20px;
}

.results {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.result-header {
  padding-left: 5px;
  font-weight: bold;
}

.result-header:hover {
  /*font-size: 120%;*/
  cursor: pointer;
}

.result-body {
  display : none;
  padding-left: 15px;
}

.saved-result-body {
  display : none;
}

/* Styling Buttons */
.btn-group-justified>.btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn-group .btn.active {
  color: #0054a4;
  border-bottom-color: #0054a4;
  background: none;
  box-shadow: none;
}

.btn-group-justified .btn-group .btn {
  width: auto;
  padding: 10px 35px;
  border: solid transparent;
  border-width: 0 0 2px 0;
  border-radius: 0;
}


/* Route Colors */
.Red {
  background-color: red;
  color: white;
}
.Blue {
  background-color: blue;
  color: white;
}
.P {
  background-color: purple;
  color: white;
}
.Brn {
  background-color: saddlebrown;
  color: white;
}
.Y {
  background-color: yellow;
}
.G {
  background-color: green;
  color: white;
}
.Org {
  background-color: orange;
}
.Pink {
  background-color: pink;
}